	<header>
		<%= image_tag('me.jpg', :class => "avatar") %>
	    <h1>Sergio Díaz Bautista</h1>
	    <div id="social_links">
		    <a class="social_link" href="mailto:sergio@diazbautista.com">
		    	<i class="fa fa-envelope fa-2x"></i>
		    </a>
		    <a class="social_link" href="https://es.linkedin.com/pub/sergio-díaz-bautista/55/1b9/54b">
		    	<i class="fa fa-linkedin-square fa-2x"></i>
		    </a>
		    <a class="social_link" href="https://github.com/sdiazb">
		    	<i class="fa fa-github fa-2x"></i>
		    </a>
		    <a class="social_link" href="https://twitter.com/sdiazb">
		    	<i class="fa fa-twitter fa-2x"></i>
		    </a>
		    <a class="social_link" href="https://instagram.com/sdiazb/">
		    	<i class="fa fa-instagram fa-2x"></i>
		    </a>
		</div>
	</header>
