<header>
	<%= image_tag('me.jpg', :class => "avatar") %>
    <h1><span id="name">Sergio</span> <span id="surname">Díaz Bautista</span></h1>
<!--     <h1><span id="nameAlt">sergio</span> <span id="surnameAlt">díaz bautista</span></h1>
    <h1><span id="nameAlt2">sergio</span> <span id="surnameAlt2">díaz bautista</span></h1> -->
    <div id="social_links">
	    <a class="social_link" href="mailto:sergio@diazbautista.com">
	    	<i class="fa fa-envelope fa-2x"></i>
	    </a>
	    <a class="social_link" href="https://github.com/sdiazb">
	    	<i class="fa fa-github fa-2x"></i>
	    </a>
	    <a class="social_link" href="https://twitter.com/sdiazb">
	    	<i class="fa fa-twitter fa-2x"></i>
	    </a>
	    <a class="social_link" href="https://instagram.com/sdiazb/">
	    	<i class="fa fa-instagram fa-2x"></i>
	    </a>
	</div>
</header>
<article>
<!--     <p style="font-size:18px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit nibh massa, at euismod lectus posuere in. Cras id tellus urna. Integer suscipit a lacus at elementum. Fusce pellentesque ullamcorper elit, non egestas lacus faucibus eleifend. Curabitur magna arcu, scelerisque accumsan dignissim et, viverra vitae neque. Nam ac ligula id nisi aliquet pretium eget ut purus. Pellentesque accumsan consectetur enim, ac tincidunt felis varius eget. Morbi augue orci, dapibus ac pellentesque at, ullamcorper pellentesque neque. In elit elit, commodo vel sapien vel, pellentesque tincidunt turpis. Maecenas quis ante odio. Donec pretium lorem sed elit placerat ornare. Pellentesque molestie nec risus sed tempus. Vivamus quis aliquam mauris. Donec vehicula vestibulum lacus. Nullam eu scelerisque mauris, sit amet fermentum diam. Nunc luctus a urna nec eleifend.
    </p> -->
<!--     <p style="font-family:Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; font-size:18px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit nibh massa, at euismod lectus posuere in. Cras id tellus urna. Integer suscipit a lacus at elementum. Fusce pellentesque ullamcorper elit, non egestas lacus faucibus eleifend. Curabitur magna arcu, scelerisque accumsan dignissim et, viverra vitae neque. Nam ac ligula id nisi aliquet pretium eget ut purus. Pellentesque accumsan consectetur enim, ac tincidunt felis varius eget. Morbi augue orci, dapibus ac pellentesque at, ullamcorper pellentesque neque. In elit elit, commodo vel sapien vel, pellentesque tincidunt turpis. Maecenas quis ante odio. Donec pretium lorem sed elit placerat ornare. Pellentesque molestie nec risus sed tempus. Vivamus quis aliquam mauris. Donec vehicula vestibulum lacus. Nullam eu scelerisque mauris, sit amet fermentum diam. Nunc luctus a urna nec eleifend.
    </p> -->
</article>